html {
    background-color: #404040;
}

body {
    margin-top: 20px;
    background-color: white;
    font-family: 'Open Sans', Verdana, sans-serif;
}

footer {
    text-align: center;
    background-color: #404040;
}

footer p{
    color: white;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    font-size: 1.4em;
}

.social h3 {
    text-align: center;
}

quote { 
    font-family: 'Lora', sans-serif;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center
}

nav li {
    display: inline-block;
    
}

nav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #1EAEDB;
    color: white;
}

nav.active {
    background-color: #0FA0CE;
}

img {
    max-height: 90%;
}

img.profilePic {
    max-width: 80%;
    vertical-align: middle;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.social {
    background-color: #1EAEDB;
}

.social a{
    vertical-align: middle;
}