html {
    background-color: #404040;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 0em;
    max-width: 900px;
    background-color: #fff;
    font-family: 'Open Sans', Verdana, sans-serif;
}

footer {
    text-align: center;
    margin-top: 1em;
    background-color: #404040;
    max-height: inherit;
}

footer p{
    color: #404040;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    font-size: 1.4em;
}

.social h3 {
    text-align: center;
}

blockquote { 
    font-family: 'Lora', sans-serif;
    color: #fff;
}

nav {
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center
}

nav li {
    display: inline-block;
    
}

nav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #1EAEDB;
    color: #fff;
}

nav.active {
    background-color: #0FA0CE;
}


img {
    max-height: 90%;
}

profilePic {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.social {
    margin-bottom: 5%;
}

#social img{
    vertical-align: middle;
    margin: auto;
}

#quote {
    background-color: #1EAEDB;
    margin-bottom: 5%;
}

#quote h4 {
    color: #fff;
}