html {
    background-color: #404040;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    /*padding: 2em 2em 0em;
    max-width: 900px;*/
    background-color: #fff;
    font-family: 'Open Sans', Verdana, sans-serif;
}
/*
.container {
    max-width: 1000px;
    padding: 0 10px;
}
*/

footer {
    text-align: center;
    margin-top: 1em;
    background-color: #404040;
    max-height: inherit;
}

footer p{
    color: #404040;
}

.social h3 {
    text-align: center;
}

blockquote { 
    font-family: 'Lora', sans-serif;
    color: #fff;
}

/*
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
    
}

nav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/*
nav li a:hover {
    background-color: #1EAEDB;
    color: #fff;
}

nav.active {
    background-color: #0FA0CE;
} */


img {
    max-height: 90%;
}

.profilePic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#social {
    text-align: center;
}

#social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#social li {
    display: inline-block;
}

#social li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

#social li a:hover {
    background-position: bottom;
    opacity: 1;
    transition: all 0.3s linear 0s;
}

#quote {
    background-color: #1EAEDB;
    margin-bottom: 5%;
}

#quote h5 {
    margin-left: 2%;
    margin-top: 1%;
}