<!DOCTYPE html>
<html lang="en">
<head>
    <!---Page Attributes---->
    <meta charset="utf-8">
    <meta name="description" content="A about page and blog for Bryce Mueller; Software Engineer">
    <meta name="author" content="Bryce Mueller">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <!---Fonts--->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <!---CSS---->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/custom_styles.css">
</head>    
<body>
    <header>
      <h1>Bryce Mueller | Software Engineer</h1>
    </header>
    <nav class="nav">
        <ul class="menu">
            <li class="menu"><a href="../index.html">Home</a></li>
            <li class="menu"><a href="../blog/index.html">Blog</a> </li>
            <li class="menu"><a href="../about/about.html">About</a></li>
            <li class="menu"><a href="../about/contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="container">

            {{ content }}

    </div><!-- /.container -->
    <footer>
    </footer>

</body>
</html>
