<!DOCTYPE html>
<html lang="en">
<head>
    <!---Page Attributes---->
    <meta charset="utf-8">
    <meta name="description" content="A about page and blog for Bryce Mueller; Software Engineer">
    <meta name="author" content="Bryce Mueller">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <!---Fonts--->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <!---CSS---->
    <link rel="stylesheet" href="{{ site.url}}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.url}}/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.url}}/css/custom_styles.css">
</head>    
<body>
    <header>
        <div class="row">
            <h1>Bryce Mueller</h1>
            <h2>&lt;Software Engineer&gt;</h2>
            <!---<img src="../assets/Logo-Full.png">--->
        </div>
    </header>
    <nav class="nav">
        <ul class="menu">
            <li class="menu"><a href="{{ site.url}}/index.html">Home</a></li>
            <li class="menu"><a href="{{ site.url}}/blog/index.html">Blog</a> </li>
            <li class="menu"><a href="{{ site.url}}/about/about.html">About</a></li>
            <li class="menu"><a href="{{ site.url}}/about/contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="container">

            {{ content }}

    </div><!-- /.container -->
    <footer>
        <div class="twelve columns">
            <p class="legal">©2016 Bryce Mueller. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
