<!DOCTYPE html>
<html lang="en">
<head>
    <!---Page Attributes---->
    <meta charset="utf-8">
    <meta name="description" content="A about page and blog for Bryce Mueller; Software Engineer">
    <meta name="author" content="Bryce Mueller">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <!---Fonts--->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <!---CSS---->
    <!---<link rel="stylesheet" href="{{ site.url}}/css/normalize.css" rel="stylesheet" media="screen">--->
    <link rel="stylesheet" href="{{ site.url}}/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ site.url}}/css/custom_styles.css" rel="stylesheet" media="screen">
</head>    
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class='navbar-header'>
                <div class="navbar-brand">Bryce Mueller | Software Engineer</div>
                <!---<img src="../assets/Logo-Full.png">--->
                <button type="button" class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class="sr-only">Toggle Navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
            </div>
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="{{ site.url}}/index.html">Home</a></li>
            <li><a href="{{ site.url}}/blog/index.html">Blog</a> </li>
            <li><a href="{{ site.url}}/about/contact.html">Contact</a></li>
        </ul>
        </div>
    </div>
            {{ content }}

    </div><!-- /.container -->
    <footer>
        <div class="row">
            <div class="span12">
                <p class="legal">©2016 Bryce Mueller. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!---Scripts--->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.url}}/bootstrap.js"></script>
</body>
</html>
